@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

* {
  color: #333;
  font-family: "PT Sans", sans-serif;
}


#experimentr {
  width: 80%;
}

#control {
  margin-top: 1em;
    font-size: 20px;
}

#next-button {
  float: right;
  font-size: 20px;
}

.placeholder {
  color: steelblue;
  font-weight: bold;
}

p.center {
	text-align: center;
}


#consent, #nasa, #demographics, #debrief{
	margin:auto;
	padding-left: 20%;
}

