body {
    background-color: white;
}

#sl1{
    position:relative;
    left:0px;
    top:0px;
}

#slider{
    position:absolute;
    left: 55px;
    top:138px;
}

#sl2{
    position:relative;
    left:0px;
    top:0px;
}

#slider2{
    position:absolute;
    left: 55px;
    top:138px;
}

#sl3{
    position:relative;
    left:0px;
    top:0px;
}

#slider3{
    position:absolute;
    left: 55px;
    top:138px;
}

#sl4{
    position:relative;
    left:0px;
    top:0px;
}

#slider4{
    position:absolute;
    left: 55px;
    top:139px;
}

#sl5{
    position:relative;
    left:0px;
    top:0px;
}

#slider5{
    position:absolute;
    left: 55px;
    top:138px;
}

#sl6{
    position:relative;
    left:0px;
    top:0px;
}

#slider6{
    position:absolute;
    left: 55px;
    top:138px;
}

.myslider{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height:3px;
    width:190px;
    outline:none;
    background: #000000;
    opacity: 1;
}
input[type=range]::-ms-tooltip {
    display: none;
}
/*
.enter{
    background-image: url(../image/bg.png);

    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    display:block; 
    border-radius: 15px;
}
.thanks{
    background-image: url(../image/bg.png);
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    display:block; 
    border-radius: 15px;
}

.button0 {
                background-color: white;
                border-radius: 15px;
                color:black;
                padding: 15px 30px;
                text-align: center;
                font-size: 16px;
                font-weight: 200;
                position: relative;
                top: 50px;
                left: 110px;
                
}
.button0:hover{
                background-color: #223E78;
                color: aliceblue;
            }
 */           
.tags{
    
    width: 1000px;
    height: 50px;
    margin: auto;
}

.subtag{
    background-color: #FFFFFF;
    border-color: dimgrey;
    border-style:solid;
    width: 152px;
    height: 50px;
    border-top-right-radius: 20px;
    float: left;
    margin-left: 10px;
}

.pic_container{
    width: 300px;
    height: 300px;
    border-color:dimgrey;
    border-style:solid;
    border-width: 2px;
    float: left;
    margin: auto;
    border-radius:10px;
}

.pic_overall_container{
    background-color: #FFFFFF;
    width: 1000px;
    height: 600px;
    margin: auto;
    margin-top: 60px;
}

.timer{
    text-align: center;
    width: 900px;
    height:50px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: -10px;
}

#progressBar {
  display: block; /* default: inline-block */
  width: 300px;
  margin: auto;
  padding: 4px;
  border: 0 none;
  background: grey;
  border-radius: 14px;

}
#progressBar::-moz-progress-bar {
  border-radius: 12px;
  background: red;
  
}
/* webkit */
#progressBar::-webkit-progress-bar {
    background: grey;
}  
#progressBar::-webkit-progress-value {  
  border-radius: 12px;
  background: white;
} 